
<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <!-- Brand/logo -->
  <a  id ="adminLogin" class="navbar-brand" href="#" (click)=getList()>Fundoo-Notes</a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Link 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 3</a>
    </li>
  </ul>
</nav>

<div class="container" style="margin-left: 260px">
<div class="row "  style="margin-top: 50px">
    <div class="col-sm-4">
    <div class="card">
    <div class="card-body">
    <h5 class="card-title">Advance Users</h5>
    <p class="card-text" id="AdvanceData"></p>
    </div>
    </div>
    </div>
    
    <div class="col-sm-4">
    <div class="card">
    <div class="card-body">
    <h5 class="card-title">Basic Users</h5>
    <p class="card-text" id="BasicData"></p>
    </div>
    </div>
    </div>
    </div>
  </div>
  <div class="container mt-3">
    
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <br>
  </div>
<div class='container-fluid'>
  <div clas="table-responsive">
    
    
    <table class="table table-bordered table-striped " id="data_table">
      <tr>
        <!-- <th>index</th> -->
        
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Service</th>
      </tr>
    </table>

  </div>
</div>