.center{
    background-image: url('../../../assets//background-images-for-registration-page-1.jpg');
   width: 100vw;
   height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  .img{
      width: 15%;
      height: 15%;
      margin-left: 500px;
      margin-bottom: 10px;
    

  }